<mat-grid-list *ngIf="info.queue" cols="3" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="taskNumItem">
      <mat-icon>done</mat-icon>
      <h4 mat-line>{{info.queue.success}}</h4>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="taskNumItem">
      <mat-icon>refresh</mat-icon>
      <h4 mat-line>{{info.queue.running}}</h4>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="taskNumItem">
      <mat-icon>error</mat-icon>
      <h4 mat-line>{{info.queue.fail}}</h4>
    </div>
  </mat-grid-tile>
</mat-grid-list>
