<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>研究滑块拼图的破解方案</title>
</head>
<body>

    <script>
        (async () => {
            function createImgCanvas(imgSrc) {
                return new Promise(resolve => {
                    const xhr = new XMLHttpRequest();
                    xhr.open("GET", imgSrc);
                    xhr.onload = () => {
                        const img = document.createElement("img");
                        img.onload = () => {
                            const canvas = document.createElement("canvas");
                            canvas.width = img.naturalWidth;
                            canvas.height = img.naturalHeight;
                            const context = canvas.getContext("2d");
                            context.drawImage(img, 0, 0, canvas.width, canvas.height);
                            resolve([canvas, context]);
                        };
                        img.src = "data:image/jpeg;base64, " + xhr.responseText;
                    };
                    xhr.send();
                });
            }

            // 需要先运行一次 src/test/component/DragJigsawTest 来生成对应的验证码截图
            const [canvas0, context0] = await createImgCanvas("../../../lib/test/component/img0.base64");
            const [canvas1, context1] = await createImgCanvas("../../../lib/test/component/img1.base64");
            const [canvas2, context2] = await createImgCanvas("../../../lib/test/component/img0.base64");
            document.body.appendChild(canvas0);
            document.body.appendChild(canvas1);
            document.body.appendChild(canvas2);

            // start
            const colorGray = colorArr => {
                const grayArr = [];
                for (let i = 0; i < colorArr.length; i += 4) {
                    // 灰度计算 参考 https://blog.csdn.net/xdrt81y/article/details/8289963
                    const gray = (colorArr[i] * 19595 + colorArr[i + 1] * 38469 + colorArr[i + 2] * 7472) >> 16;
                    grayArr.push(gray);
                }
                return grayArr;
            };

            const colorDiff = (arr0, arr1) => {
                const gray0 = colorGray(arr0);
                const gray1 = colorGray(arr1);
                let diff = 0;
                let diffCount = 0;
                for (let i = 0; i < gray0.length; i++) {
                    const delta = Math.abs(gray0[i] - gray1[i]);
                    diff += delta;
                    if (delta) {
                        diffCount++;
                    }
                }
                return diff / (diffCount || 1);
            };

            // 颜色混合
            // 参考 https://stackoverflow.com/questions/12011081/alpha-blending-2-rgba-colors-in-c
            const mixColor = (backRgba, frontRgba) => {
                const alpha = frontRgba[3] + 1;
                const invAlpha = 256 - frontRgba[3];
                return [
                    (alpha * frontRgba[0] + invAlpha * backRgba[0]) >> 8,
                    (alpha * frontRgba[1] + invAlpha * backRgba[1]) >> 8,
                    (alpha * frontRgba[2] + invAlpha * backRgba[2]) >> 8,
                    255
                ];
            };

            let maskL = null;
            let maskR = null;
            let maskT = null;
            let maskB = null;

            for (let x = 0; x < 80; x++) {
                const diff = colorDiff(
                    context0.getImageData(x, 0, 1, canvas0.height).data,
                    context1.getImageData(x, 0, 1, canvas0.height).data);
                if (diff > 20) {
                    if (maskL == null) {
                        maskL = x;
                    }
                    maskR = x;
                }
            }

            for (let y = 0; y < canvas0.height; y++) {
                const diff = colorDiff(
                    context0.getImageData(0, y, canvas0.width, 1).data,
                    context1.getImageData(0, y, canvas0.width, 1).data);
                if (diff > 20) {
                    if (maskT == null) {
                        maskT = y;
                    }
                    maskB = y;
                }
            }

            if (context2) {
                context2.fillStyle = `rgba(0,0,0,0.45)`;
                context2.fillRect(maskL, 0, 1, canvas0.height);
                context2.fillRect(maskR, 0, 1, canvas0.height);
                context2.fillRect(0, maskT, canvas0.width, 1);
                context2.fillRect(0, maskB, canvas0.width, 1);
            }

            // 只检验正中央的部分
            const centerCheckSize = 16;
            if (maskR - maskL >= centerCheckSize) {
                const delta = (maskR - maskL - centerCheckSize) / 2;
                maskL += delta;
                maskR -= delta;
            }
            if (maskB - maskT >= centerCheckSize) {
                const delta = (maskB - maskT - centerCheckSize) / 2;
                maskT += delta;
                maskB -= delta;
            }

            if (context2) {
                context2.fillStyle = `rgba(0,0,0,0.4)`;
                context2.fillRect(maskL, maskT, maskR - maskL, maskB - maskT);
            }

            const possibleDesRects = [];
            const maskColors = context0.getImageData(maskL, maskT, maskR - maskL, maskB - maskT).data;
            for (let alpha = 0.3; alpha <= 0.7; alpha += 0.05) {
                const grayMask = [0, 0, 0, 255 * alpha];
                const mixColors = [];
                for (let i = 0; i < maskColors.length; i += 4) {
                    const mixedColor = mixColor(maskColors.subarray(i, i + 4), grayMask);
                    mixedColor.forEach(item => mixColors.push(item));
                }
                for (let xDelta = 50; xDelta < canvas0.width - 50; xDelta++) {
                    const checkColors = context0.getImageData(maskL + xDelta, maskT, maskR - maskL, maskB - maskT).data;
                    const diff = colorDiff(mixColors, checkColors);
                    if (diff < 20) {
                        possibleDesRects.push({
                            diff: diff,
                            alpha: alpha,
                            delta: xDelta,
                            mask: {
                                left: maskL,
                                top: maskT,
                                right: maskR,
                                bottom: maskB
                            }
                        });
                    }
                }
            }
            if (possibleDesRects.length) {
                possibleDesRects.sort((o1, o2) => o1.diff - o2.diff);

                const bestDesRect = possibleDesRects[0];

                if (context2) {
                    context2.fillStyle = `rgba(255,120,0,0.4)`;
                    context2.fillRect(bestDesRect.delta + bestDesRect.mask.left, bestDesRect.mask.top,
                        bestDesRect.mask.right - bestDesRect.mask.left, bestDesRect.mask.bottom - bestDesRect.mask.top);
                    possibleDesRects.forEach(item => console.log(item));
                    console.log("拖动距离：" + bestDesRect.delta);
                }

                return bestDesRect.delta;
            }
            // end

        })();
    </script>
</body>
</html>