<h2 mat-dialog-title>Warning</h2>
<mat-dialog-content>
  <p>Shutdown the ppspider system ?</p>
  <ng-container *ngIf="shutdownProgressValue > 0">
    <p>waiting for running job ...</p>
    <mat-progress-bar
      color="primary"
      mode="determinate"
      [value]="shutdownProgressValue">
    </mat-progress-bar>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions *ngIf="shutdownProgressValue <= 0" class="flexRowReverse">
  <button mat-button (click)="shutdown(true)">Save And Shutdown</button>
  <button mat-button (click)="shutdown(false)">Shutdown</button>
  <button mat-button [mat-dialog-close]="null">Cancle</button>
</mat-dialog-actions>
