
<p *ngIf="!commonService.queues || !commonService.running">ppspider is not working !</p>

<ng-container *ngIf="commonService.running">
  <div class="buttons">
    <ng-container *ngIf="commonService.queues?.pause == false">
      <button (click)="resetQueueManagerPause(true)" mat-icon-button>
        <mat-icon
          matTooltip="Pause QueueManager"
          style="color: #ffb670">pause</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="commonService.queues?.pause">
      <button (click)="resetQueueManagerPause(false)" mat-icon-button>
        <mat-icon
          matTooltip="Resume QueueManager"
          style="color: #2c8aff">play_arrow</mat-icon>
      </button>
    </ng-container>
    <button (click)="commonService.queues?.saving ? null : saveQueueCache()" mat-icon-button>
      <mat-icon
        matTooltip="Save queues cache"
        [style.color]="commonService.queues?.saving ? '#cccccc' : '#1994ff'"
        >save</mat-icon>
    </button>
    <ng-container *ngIf="commonService.queues?.cacheExist">
      <button (click)="deleteQueueCache()" mat-icon-button>
        <mat-icon
          matTooltip="Delete queues cache"
          style="color: #ff4d44">delete_forever</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="commonService.queues">
      <button (click)="showShutdownConfirm()" mat-icon-button>
        <mat-icon
          matTooltip="Shutdown the system"
          style="color: #ff4384">stop</mat-icon>
      </button>
    </ng-container>
  </div>
</ng-container>

<mat-grid-list *ngIf="commonService.running" cols="3" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="taskNumItem success">
      <mat-icon>done</mat-icon>
      <h4>{{commonService.queues.success}}</h4>
      <span>success</span>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="taskNumItem running">
      <mat-icon>refresh</mat-icon>
      <h4>{{commonService.queues.running}}</h4>
      <span>running</span>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="taskNumItem fail" title="count of jobs failed after max tries">
      <mat-icon>error</mat-icon>
      <h4>{{commonService.queues.fail}}</h4>
      <span>fail</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<ng-container *ngIf="commonService.queues?.queues">
  <ng-container *ngFor="let queue of commonService.queues.queues; let queueI = index">
    <mat-divider></mat-divider>
    <mat-card [class]="'queueItem ' + queue.type">
      <mat-card-header>
        <mat-icon *ngIf="queue.type == 'OnStart'" mat-card-avatar class="icon">launch</mat-icon>
        <mat-icon *ngIf="queue.type == 'OnTime'" mat-card-avatar class="icon">timer</mat-icon>
        <mat-icon *ngIf="queue.type == 'FromQueue'" mat-card-avatar class="icon">queue_music</mat-icon>
        <mat-card-title>
          {{queue.name}}
          <span *ngIf="!queue.running" class="queueNotRunning">is not running !</span>
          <button (click)="queue.type == 'OnStart' ? reExecuteOnStartJob(queue.name) : null" [style.visibility]="queue.type == 'OnStart' ? 'visible' : 'hidden'" mat-icon-button>
            <mat-icon
              matTooltip="Execute this OnStart job again">refresh</mat-icon>
          </button>
          <button (click)="setQueueRunning(queue.name, !queue.running)" mat-icon-button>
            <mat-icon
              [matTooltip]="queue.running ? 'Disable this queue' : 'Enable this queue'">{{queue.running ? 'pause' : 'play_arrow'}}</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>
          <span class="taskType">{{queue.type}}</span>
          {{queue.target + '.' + queue.method}}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="queue.description">{{queue.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="queue.type == 'OnStart' || queue.type == 'OnTime'" class="infoRow">
          <label class="key">urls</label>
          <div class="value">
            <div *ngFor="let url of queue.urls" class="url">
              <a [href]="url" target="_blank">{{url}}</a>
            </div>
          </div>
        </div>
        <div *ngIf="queue.type == 'FromQueue'" class="infoRow">
          <label class="key">queue</label>
          <div class="value">
            <div class="url">
              <a>{{queue.from + ' : ' + queue.queue.type + '(filters = [' + queue.queue.filters + '], size = ' + queue.queue.size + ')'}}</a>
            </div>
          </div>
        </div>

        <div class="infoRow">
          <label class="key">workerFactory</label>
          <div class="value">{{queue.workerFactory}}</div>
        </div>

        <div class="infoRow">
          <div class="grid">
            <label class="key">maxParallelConfig</label>
            <div class="value">
                <span (click)="openEditConfig(queue, 'parallel', queue.parallel)" class="editable">
                  {{stringify(queue.parallel)}}
                </span>
            </div>
          </div>
          <div class="grid">
            <label class="key">timeout</label>
            <div class="value">
              <span (click)="openEditConfig(queue, 'timeout', queue.timeout)" class="editable">
                {{stringify(queue.timeout)}}
              </span>
              <span class="unit">ms</span>
            </div>
          </div>
          <div class="grid">
            <label class="key">maxTry</label>
            <div class="value">
                <span (click)="openEditConfig(queue, 'maxTry', queue.maxTry)" class="editable">
                  {{stringify(queue.maxTry)}}
                </span>
            </div>
          </div>
        </div>

        <div class="infoRow">
          <div class="grid">
            <label class="key">exeInterval</label>
            <div class="value">
              <span (click)="openEditConfig(queue, 'exeInterval', queue.exeInterval)" class="editable">{{queue.exeInterval}}</span>
              <span class="static">-|+</span>
              <span (click)="openEditConfig(queue, 'exeIntervalJitter', queue.exeIntervalJitter)" class="editable">{{queue.exeIntervalJitter}}</span>
              <span class="unit">ms</span>
            </div>
          </div>
          <div class="grid">
            <label class="key">lastExeTime</label>
            <div class="value">{{queue.lastExeTime | longToDateStr}}</div>
          </div>
          <ng-container *ngIf="queue.type == 'OnTime'">
            <div class="grid">
              <label class="key">cron</label>
              <div class="value">
                <span (click)="openEditConfig(queue, 'cron', queue.cron)" class="editable">{{queue.cron}}</span>
              </div>
            </div>
            <div class="grid">
              <label class="key">nextExeTime</label>
              <div class="value">{{queue.nextExeTime | longToDateStr}}</div>
            </div>
          </ng-container>
        </div>

        <div class="infoRow">
          <div class="grid">
            <label class="key">curMaxParallel</label>
            <div class="value">
              <span (click)="openEditConfig(queue, 'curMaxParallel', queue.curMaxParallel)" class="editable">{{queue.curMaxParallel}}</span>
            </div>
          </div>
          <div class="grid">
            <label class="key">success</label>
            <div class="value">{{queue.success}}</div>
          </div>
          <div class="grid">
            <label class="key">running</label>
            <div class="value">{{queue.curParallel}}</div>
          </div>
          <div class="grid" title="count of failed tries | count of jobs failed after max try">
            <label class="key">failed</label>
            <div class="value">{{queue.tryFail}} | {{queue.fail}}</div>
          </div>
        </div>

        <div class="infoRow">
          <label class="key">defaultDatas</label>
          <div class="value">
              <span (click)="openEditConfig(queue, 'defaultDatas', queue.defaultDatas)" class="editable">
                {{stringify(queue.defaultDatas)}}
              </span>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>

<div style="padding: 128px 0 0 0"></div>
