/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~codemirror/lib/codemirror.css";
@import '~angular2-toaster/toaster.min.css';
@import "~jquery.json-viewer/json-viewer/jquery.json-viewer.css";



@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}




.CodeMirror {
  border: 1px solid #e6e6e6;
}



#jsonViewer {
  font-size: 14px;
  line-height: 24px;
}

.json-string {
  color: #3ab54a;
  font-weight: bold;
}

.json-literal {
  color: #158dff;
  font-weight: bold;
}

a.json-toggle:before {
  content: "-";
}

a.json-toggle.collapsed:before {
  content: "+";
}
